.header {
    position:fixed;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    padding-bottom:25px;
    border-bottom: 1px solid #eee;
    background-color: white;
}